@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply leading-[normal];
}

:root {
  @apply latte bg-base font-normal text-text dark:macchiato;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  @apply rounded-lg bg-surface0 p-2 outline-transparent;
}
button {
  @apply px-5 py-2.5;
}
button.colored {
  @apply latte text-base font-medium;
}
button:hover,
input:hover,
select:hover {
  @apply outline outline-2 outline-lavender;
  transition: outline-color 0.25s;
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  @apply outline outline-4 outline-[-webkit-focus-ring-color];
}

code {
  @apply rounded-lg bg-surface0 p-1;
}

.flex {
  @apply gap-2;
}

#app {
  @apply mx-auto my-0 max-w-6xl p-10 text-center;
}

:disabled {
  @apply saturate-50;
}
